/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    background-color: #FFFFFF;
    margin-top: 61px;
    margin-bottom: 10px;
    margin-left: 93px;
    margin-right: 93px;
    font-family: Mulish, sans-serif;
    color: #111111;
}


/* Navigation and Logo Section */

.logo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% 10px 10% 10px 10%;
    grid-template-columns: 80% 10% 10%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 61px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    font-size: 18px;
    font-weight: bold;
}

.logo a {
    color: #111111;
    text-decoration: none;
}

.footer a {
    color: #111111;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #ffcc22;
}


/* Header and information section */

.header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 635px 30px auto;
    grid-template-columns: 635px auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 30px;
    padding-top: 96px;
}

.header-column1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 20px 201px;
    grid-template-rows: 50px 201px;
    gap: 20px;
}

.header-column1__title {
    color: #4A4FF2;
    font-size: 22px;
    font-weight: bold;
}

.header-column1__description {
    color: #111111;
    font-size: 40px;
    font-weight: bold;
}

.header-column2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 221px 30px;
    grid-template-rows: 221px 30px;
    text-align: left;
    font-size: 18px;
    opacity: 0.5;
    color: #111111;
    font-style: italic;
}


/* Picture section */

.grid-picture {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 15px auto 15px auto;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-top: 156px;
}

.grid-column1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 15px auto 15px auto 15px auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
}

.grid-column2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 15px auto 15px auto 15px auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
}

.grid-column3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 15px auto 15px auto 15px auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
    justify-items: right;
}


/*  Service Section */

.grid-service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 635px 13px auto 13px auto;
    grid-template-columns: 635px auto auto;
    -ms-grid-row: 106;
    grid-row: 106px;
    font-size: 28px;
    gap: 13px;
    font-weight: bold;
    margin-top: 91px;
}

.grid-service ul,
li {
    display: -ms-grid;
    display: grid;
    list-style-type: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    opacity: 0.5;
}


/* Awards Section */

.grid-Awards1 {
    display: -ms-grid;
    display: grid;
    margin-top: 96px;
    -ms-grid-columns: 500px 40px 190px 40px 180px 40px 110px;
    grid-template-columns: 500px 190px 180px 110px;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto;
    grid-template-rows: auto auto auto auto;
    text-align: left;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 16px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    row-gap: 20px;
}

.grid-Awards1>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.grid-Awards1>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.grid-Awards1>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.grid-Awards1>*:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.grid-Awards1>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.grid-Awards1>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.grid-Awards1>*:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.grid-Awards1>*:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.grid-Awards1>*:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.grid-Awards1>*:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.grid-Awards1>*:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.grid-Awards1>*:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

.grid-Awards1>*:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.grid-Awards1>*:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.grid-Awards1>*:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}

.grid-Awards1>*:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}

.grid-Awards2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px 40px 190px 40px 180px 40px 110px;
    grid-template-columns: 500px 190px 180px 110px;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto;
    grid-template-rows: auto auto auto auto;
    text-align: left;
    border-bottom: 1px solid grey;
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 16px;
    row-gap: 20px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.grid-Awards2>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.grid-Awards2>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.grid-Awards2>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.grid-Awards2>*:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.grid-Awards2>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.grid-Awards2>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.grid-Awards2>*:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.grid-Awards2>*:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.grid-Awards2>*:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.grid-Awards2>*:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.grid-Awards2>*:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.grid-Awards2>*:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

.grid-Awards2>*:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.grid-Awards2>*:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.grid-Awards2>*:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}

.grid-Awards2>*:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}

.grid-Awards-style {
    opacity: 0.5;
    padding-bottom: 40px;
}

.grid-Awards__name1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 4 / span 1;
    font-size: 22px;
    font-weight: bold;
}

.grid-Awards__name--sub1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / span 2 / span 1;
    font-size: 18px;
    font-weight: bold;
}

.grid-Awards__name--sub2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / span 2 / span 1;
    font-size: 18px;
    font-weight: bold;
}

.grid-Awards__year1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / span 2 / span 1;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}

.grid-Awards__year2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 3 / 4 / span 2 / span 1;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
}


/*  Footer Section */

.footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 10px 10% 10px 15% 10px 5% 10px 5% 10px 5%;
    grid-template-columns: 60% 10% 15% 5% 5% 5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 146px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    font-size: 18px;
    font-weight: bold;
}